# dependencies
node_modules/
.pnpm-store/

# env
.env
.env.*
!.env.example

# build output
dist/
build/
.next/
out/

# testing
coverage/

# misc
.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# turbo / cache
.turbo/
